.App {
  text-align: center;
}

.tab{
  outline: 1px solid black;
  background-color: white;
  color: black;
  width: 150px;
  height: 80px;
  font-size: 24px;
  transition: 1.5s
  
}

.tab:focus{
  color: white;
  background-color: black;

}

.content{
  margin: 5% 25%;
  transition: 2s
}


